<!DOCTYPE html>
<html>
  <head>
    <title>Scrapomatic!</title>
    <!-- Web App, hides Safari Chrome -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="viewport" content="maximum-scale=1.0" />
    <meta name="viewport" content="user-scalable=no" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" media="screen"  href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen"  href="/css/styles.css" />

    <script type="text/javascript" src="/js/ender.min.js" charset="utf-8"></script> 
    <script type="text/javascript" src="/js/vendor/sugar-1.2.4.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/vendor/hammer.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/vendor/template-2.0.0.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/templates.js" charset="utf-8"></script> 
    <script type="text/javascript" src="/js/lib/view.js"></script>   
    <script type="text/javascript" src="/js/application.js"></script>     
  </head>
  
  <body class="admin">   
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Scrapomatic!</a>
        </div>
      </div>
    </div>
    <div class="container">
      {{{ content }}}      
    </div>
  </body>
</html>
