<!DOCTYPE html>
<html>
  <head>
    <title>Scraper!</title>
    <!-- Web App, hides Safari Chrome -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!--  Home page icon -->
    <!--  link rel="apple-touch-icon-precomposed" href="/assets/icon.png"  -->
    
    <link rel="stylesheet" type="text/css" media="screen"  href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen"  href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" media="screen"  href="/css/styles.css" />
   
  </head>
  
  <body class="admin">   
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Scraper!</a>
        </div>
      </div>
    </div>
    <div class="container">
      We're sorry, something went wrong.
    </div>
  </body>
</html>
