<form action="/" id="select-image" class="form-vertical" method="post">
  <div class="control-group">
    <label class="control-label" for="site_url">
      Please enter a url
    </label>
    <div class="controls">
      <input type="text" name="site_url" id="site_url" value="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="site_url">
      Please enter a match term
    </label>
    <div class="controls">
      <input type="text" name="match_term" id="match_term" value="">
      <button type="submit" class="btn btn-inverse">Submit</button>
    </div>
  </div>
</form>

<div id="results">
  
</div>
