{{# images }}   
  <li class="thumbnail">
    <div class="display">
      <img src="{{ src }}" alt="thumb">
    </div>
    <p class="filename">{{ filename }}</p>
  </li>
{{/ images }} 
{{^ images }}   
  <li>No images found</li>
{{/ images }}